<section class="hero-image banner">
    <div class="hero-text">
      <h1>Innovative Development</h1>
      <p>Creating cutting-edge solutions with code.</p>
    </div>
</section>

<section class="services">
    <div class="service">
        <i class="fas fa-laptop-code fa-3x"></i>
        <h2>Development</h2>
        <p>We offer custom software development services to bring your vision to life.</p>
    </div>
    <div class="service">
        <i class="fas fa-tools fa-3x"></i>
        <h2>Maintenance</h2>
        <p>Our maintenance services ensure your software remains up-to-date and fully operational.</p>
    </div>
    <div class="service">
        <i class="fas fa-headset fa-3x"></i>
        <h2>Support</h2>
        <p>Get round-the-clock support and troubleshooting assistance from our dedicated team.</p>
    </div>
</section>

<section class="contact_block banner">
    <h2>Contact us</h2>
    <div class='contact_content'>
        <div class="contact_content_text">
            <div class="contact_content_text_child">
                Welcome to our team where your online presence becomes our priority. We offer top-notch website development support, helping you bring your ideas to life through cutting-edge technology and creative solutions. If you're ready to elevate your online presence and stand out in the digital world, you're in the right place. Let us help you create a website that not only looks great but also drives results. Get in touch with us today to get started on your journey to online success.
            </div>
        </div>
        <div class="contact_content_form">
            <form action="">
                <input type="text" placeholder="Your name">
                <input type="text" placeholder="Your email">
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
</section>
