<header>
    <nav>
        <div class="home_link">
            <a href="/">elenasstyle.de</a>
        </div>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/leistungen">Leistungen</a>
            </li>
            <li>
                <a href="/über-uns">Über uns</a>
            </li>
            <li>
                <a href="/">Galerie</a>
            </li>
            <li>
                <a href="/">Kontakte</a>
            </li>
        </ul>
    </nav>
</header>