<div class="homepage">
    {%include 'hero_block.html'%}
    <section class='container'>
        <div>
            <div>
                Herzlich willkommen  bei unserem Friseursalon in Selm , nur weniger Kilometer von den Sud- und Nordkirchen, Lüdinghausen, Lünen , Waltrop und Dortmund entfernt! Wir bieten Ihnen eine breite Palette von Dienstleistungen wie Haarschnitte, Blonde, Balajage, Ombre, Airtouch, Daurwelle, Hochsteckfrisuren und mehr an.
            </div>
        </div>

        <div class='section_contact_link container section_v'>
            <div class='app_h1'>
                Dein Weg zu strahlendem Aussehen:
            </div>
            <div>
                <a href='/contact' class='btn'>Termin vereinbaren</a>
            </div>
        </div>

        <div class="container section_v">
            <div>
                Um einen Termin zu vereinbaren, rufen Sie uns an oder schreiben Sie uns eine Nachricht in WhatsApp , oder rufen Sie uns an : +49 157 881 90652  .
            </div>
            <div>
                Unsere Adresse : 59379 Selm , Ludgeristraße 67, 2 OG
            </div>
        </div>
    </section>
</div>