{% include 'hero_block.html' %}
<section class="container leistungen_block">
    <div class="leistungen_block_text">
        <div class="leistungen_block_text_first">
            <ul>
                <li> Suchen Sie Friseur , um Haarschnitte für ihre ganze Familie erstellen?</li> 
                <li> Benötigen Sie eine Hochzeitsfrisur oder ein Styling für einen besonderen Anlass?</li> 

                <li> Wollen Sie  klassische oder moderne Haarfärbung, wie Balayage, Ombre, Airtouch oder einfach paar blonde Strähnen zur Erfrischung von deine Frisur haben?</li> 
                <li> Auch wenn Sie auf der Suche nach einem verfahren  zur  lanfristigen Haarverlängerund / Daurwelle sind, oder ihr Haar dringend Pflege und Aufmerksamkeit braucht? </li> 
            </ul>
            <div>Dann sind Sie bei Hairstudio Elena's Style genau richtig!</div>
        </div>
        <div class="leistungen_block_text_second">
            <div>Sie sind eine wunderschöne Leinwand und wir werden Ihnen auf jeden Fall dabei helfen, Ihre innere Schönheit zu offenbaren. Wir wählen ein Bild unter Berücksichtigung Ihres persönlichen Stils, Geschmacks und Ihrer Vorlieben aus.</div>
            <div>Wir schaffen ihre  Schöncheut mit Liebe! </div>
        </div>
    </div>
    <div class='leistungen_block_img'>
        <img src="{{ url_for('static', filename='images/leistungen.png') }}">
    </div>
</section>
