<header>
    <div class="head_menu">
        <div class="head_menu_img">
            <img src="{{url_for('static', filename='img/img_header_1_b.png')}}" alt="">
        </div>
        <div class="head_menu_text">
            Dr. Elena Poverenov Lab
        </div>
        <div class="head_menu_img">
            <img src="{{url_for('static', filename='img/img_header_2.png')}}" alt="">
        </div>
    </div>

    <nav>
        <ul class="main_menu">
            <li>
                <a href="">Home</a>
                <ul class="hidden">
                    <li><a href="">Advanced delivery systems</a></li>
                    <li><a href="">Active edible coatings</a></li>
                    <li><a href="">Antimicrobial surfaces and packaging</a></li>
                    <li><a href="">Plants gene editing</a></li>
                </ul>
            </li>
            <li><a href="">Publication</a></li>
            <li>
                <a href="">Members</a>
                <ul class="hidden">
                    <li><a href="">Team Members</a></li>
                    <li><a href="">Dr. Elena Poverenov</a></li>
                    <li><a href="">Alumni</a></li>
                </ul>
            </li>
            <li><a href="">Equipment</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Contact us</a></li>
            <li><a href="">Open Positions</a></li>
        </ul>
    </nav>
</header>