<section class='hero_block'>
    <img src='{{url_for('static', filename='img/homebanner.webp')}}'>
</section>

<section class="slide_block">
    <div>
        <h1>Advanced Materials and Nanotechnology for Food and Agriculture</h1>
        <div>Natural polymer-based delivery systems, nanogels, nanoclays, active surfaces, edible coatings and smart packages for agriculture and food</div>
    </div>
    <div class="slide_block_child">
        <div class="splide">
            <div class="splide__track">
                  <ul class="splide__list">
                      <li class="splide__slide"><img src="{{ url_for('static', filename='img/slider/lena.webp' )}}"></li>
                      <li class="splide__slide"><img src="{{ url_for('static', filename='img/slider/lena.webp' )}}"></li>
                      <li class="splide__slide"><img src="{{ url_for('static', filename='img/slider/lena.webp' )}}"></li>
                  </ul>
            </div>
          
            <div class="splide__progress">
                  <div class="splide__progress__bar">
                  </div>
            </div>
        </div>
        <div class="contact_info">
            <div>elenap@volcani.agri.gov.il</div>
            <div>Tel: 03-9683354</div>
            <input type="button" value="Visit us">
        </div>
    </div>
</section>
